+keyframes(loading-progress)
  17%
    .loading-progress-dot:nth-child(1)
      +opacity(1)
  33%
    .loading-progress-dot:nth-child(2)
      +opacity(1)
  50%
    .loading-progress-dot:nth-child(3)
      +opacity(1)
  67%
    .loading-progress-dot:nth-child(4)
      +opacity(1)
  83%
    .loading-progress-dot:nth-child(5)
      +opacity(1)
  100%
    .loading-progress-dot:nth-child(6)
      +opacity(1)

.loading-page
  width: 460px
  margin: 80px auto 0

.loading-mask
  margin: 40px auto

.loading-intro
  &.is-first
    margin-top: 100px

.loading-progress
  text-align: center

.loading-progress-dot
  display: inline-block
  background: #77ccca
  +border-radius(50%)
  width: 8px
  height: 8px
  margin: 0 8px
  +opacity(0.5)
  +transition-property(all)
  +transition-duration(100ms)
  +transition-timing-function(ease-out)
