@import 'ui/masks/*.png'

body
  font-family: $main_font, $backup_font

.top-line
  background: $main_ui_color
  height: 10px

.content

.text
  font-size: 20px
  line-height: 27px

.text-service
  padding-left: 20px
  background-repeat: no-repeat
  background-position: 0 50%

  &.is-twitter
    color: $twitter_text_color
    background-image: inline-image('ui/social_icons/twitter.png')

  &.is-facebook
    color: $facebook_text_color
    background-image: inline-image('ui/social_icons/facebook.png')

  &.is-instagram
    color: $instagram_text_color
    background-image: inline-image('ui/social_icons/instagram.png')

  &.is-pushbio
    color: $main_ui_text_color
    padding-left: 0

.logotype
  color: $text_color
  font-size: 36px
  font-weight: normal
  text-align: center

.mask
  &.is-x100
    $side: 100px

    width: $side
    height: $side

    &.is-0
      @include masks-sprite(x100_0)
