development:
  adapter: postgresql
  database: pushbio_development
  user:
  password:
  pool: 5
  timeout: 5000

test: &test
  adapter: postgresql
  database: pushbio_test
  user:
  password:
  pool: 5
  timeout: 5000

production:
  adapter: postgresql
  database: pushbio_production
  user:
  password:

  pool: 5
  timeout: 5000

cucumber:
  <<: *test
